.create-post {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.create-post__main {
  align-self: center;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-main__form {
  width: 100%;
  height: 100%;
}
.form__title {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  height: 3rem;
}
.form-title__input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border: none;
  font-weight: 600;
  font-size: 1.1rem;
}

.form__textarea {
  width: 100%;
  border: 1px solid var(--border-color);
  height: 80%;
}
.form-textarea__input {
  width: 100%;
  height: 100%;
  border: none;
  border-top: 1px solid var(--border-color);
  outline: none;
  resize: none;
  padding-left: 1rem;
  padding-top: 1rem;
}

.main__action-name {
  font-size: 0.7rem;
  font-weight: 600;
  padding-left: 1rem;
  color: var(--primary-text-color);
  cursor: pointer;
  background: none;
  border: 1px solid var(--border-color);
  padding: 0.6rem;
  border-radius: 20%;
}
.main__action-contain {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  justify-content: end;
}
